################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlipLoop/.vs/FlipLoop.slnx
/FlipLoop/FlipLoop/bin/Debug/net10.0-windows
/FlipLoop/FlipLoop/obj
